.info-card,
.related-section-card {
  background-color: var(--background-hover);
  border: 1px solid var(--divider-color);
  border-radius: 8px;
  padding: 16px;

  .card-title {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  .form-field {
    flex: 1;
  }
}

.full-width {
  width: 100%;
} 